


<div class="container w-700 mt-8 mb-8" >

    <div class="flex justify-center w-800">
        <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

            <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white ">Add Product</h1>
            
            <div class="relative flex  bg-white text-gray-700 flex-row">
                
                <app-form-menu></app-form-menu>

                <router-outlet></router-outlet>
                
              </div>

              <app-form-footer></app-form-footer>

        </div>
            
    </div>
</div>







